@import "./reset.css";
@import "./vars";
@import "./template";

.header {
  height: 100vh;
  background: url("../img/bg.png") center/ cover no-repeat;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding-top: 35px;
}
.header__link {
  position: relative;
  text-transform: uppercase;
  transition: 0.3s;
  &:nth-child(1)::after,
  &:nth-child(4)::after {
    content: ".";
    position: absolute;
    transform: translateY(-20%);
    margin-left: 35px;
  }
  &:hover {
    color: $hover-text-color;
  }
  @media screen and (max-width: 800px) {
    display: none;
  }
}
.logo {
  cursor: pointer;
  @media screen and (max-width: 800px) {
    display: block;
  }
}
.about {
  background-color: $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 120px 0 140px 0;
  @media screen and (max-width: 425px) {
    padding: 50px 0 40px 0;
  }
}
.about__title {
  text-align: center;
  @media screen and (max-width: 650px) {
    padding: 0 4%;
  }
}
.title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 5px;
}
.about__text {
  max-width: 1080px;
  text-align: center;
}
.text {
  font-weight: 400;
  letter-spacing: 0.8px;
  @media screen and (max-width: 1020px) {
    padding: 0 4%;
  }
}
.work {
  height: 150vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "item1 item1 item2"
    "item3 item4 item4"
    "item5 item6 item7";
  @media screen and (max-width: 920px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "item1 item2"
      "item3 item4"
      "item5 item6";
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "item2 "
      "item1"
      "item3 "
      "item4"
      "item6 "
      "item5";
  }
  @media screen and (max-height: 650px) {
    height: 260vh;
  }
  @media screen and (max-width: 380px) {
    height: 190vh;
  }
}
.work__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item1 {
  grid-area: item1;
  background: url("../img/work1.png") center/ cover no-repeat;
}
.grid-item2 {
  grid-area: item2;
}
.grid-item3 {
  grid-area: item3;
}
.grid-item4 {
  grid-area: item4;
  background: url("../img/work4.png") center/ cover no-repeat;
}
.grid-item5 {
  grid-area: item5;
  background: url("../img/work5.png") center/ cover no-repeat;
}
.grid-item6 {
  grid-area: item6;
}
.grid-item7 {
  grid-area: item7;
  background: url("../img/work7.png") center/ cover no-repeat;
}
.work__item {
  height: auto;
}
.content-grid-item {
  height: 66.66%;
  padding: 70px 70px 60px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 33px;
  @media screen and (max-width: 1480px) {
    padding: 30px;
  }
  @media screen and (max-width: 1160px) {
    padding: 15px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media screen and (max-height: 1051px) {
    padding: 15px 10px 10px 10px;
    justify-content: space-between;
    gap: 0;
    h3 {
      margin: 0;
    }
  }
  @media screen and (max-height: 645px) {
    height: 100%;
  }
}
.grid-item2__content {
  @media screen and (max-width: 600px) {
    height: 100%;
  }
}
.content-grid-item__bottom-item2,
.content-grid-item__bottom-item3,
.content-grid-item__bottom-item6 {
  height: 33.333%;
}
.content-grid-item__bottom-item2,
.content-grid-item__bottom-item6,
.content-grid-item__bottom-item3 {
  @media screen and (max-width: 600px) {
    display: none;
  }
  @media screen and (max-height: 645px) {
    display: none;
  }
}
.content-grid-item__bottom-item2 {
  background: url("../img/work2.png") center/ cover no-repeat;
}
.content-grid-item__bottom-item3 {
  background: url("../img/work3.png") center/ cover no-repeat;
}
.content-grid-item__bottom-item6 {
  background: url("../img/work6.png") center/ cover no-repeat;
}
.twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 0 190px 0;
  background-color: $light-gray;
  @media screen and (max-width: 900px) {
    padding: 45px 0 60px 0;
  }
}
.twitter__img {
  margin-bottom: 40px;
}
.twitter__title {
  margin-bottom: 30px;
  text-align: center;
}
.twitter__text {
  text-align: center;
}
.shop {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.shop__content {
  display: flex;
  height: 55vh;
  @media screen and (max-width: 900px) {
    height: 35vh;
  }
}
.shop__item {
  flex: 1;
}
.shop__item-2 {
  flex: 2;
}
.shop__item-row {
  height: 50%;
  display: flex;
  background: url("../img/shop1-3.png") center/ cover no-repeat;
}
.shop__item-row-element {
  width: 50%;
  height: 100%;
}
.item-row-item_1 {
  background: url("../img/shop1-1.png") center/ cover no-repeat;
  transition: background-size 1 ease;
}
.item-row-item_2 {
  background: url("../img/shop1-2.png") center/ cover no-repeat;
}
.shop__item-2 {
  display: flex;
}
.shop__column {
  width: 50%;
  height: 100%;
}
.column2-1 {
  background: url("../img/shop2-1.png") center/ cover no-repeat;
}
.column2-2 {
  background: url("../img/shop2-2.png") center/ cover no-repeat;
}
.shop__item-3 {
  display: flex;
  flex-direction: column;
}
.shop__row {
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.row3-1 {
  background: url("../img/shop3-1.png") center/ cover no-repeat;
}
.row3-2 {
  display: flex;
}
.shop__row-item_1 {
  background: url("../img/shop3-2.png") center/ cover no-repeat;
}
.shop__row-item_2 {
  background: url("../img/shop3-3.png") center/ cover no-repeat;
}
.item-row-item_1,
.item-row-item_2,
.row-hover,
.column2-1,
.column2-2,
.row3-1,
.shop__row-item_1,
.shop__row-item_2 {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: background-size 1s ease-in-out;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &::before {
    background-color: rgba(0, 255, 0, 0);
    z-index: 1;
  }
  &::after {
    content: url("../img/shop-ico.png");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
  }
  &:hover::before {
    background-color: #64c29e65;
  }
  &:hover::after {
    opacity: 1;
  }
}
.shop__bottom {
  height: 200px;
  background-color: #282f35;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 900px) {
    height: 150px;
  }
  a {
    color: $light-gray;
    padding: 20px 65px;
    border: 1px solid $light-gray;
    transition: 0.3s;
    &:hover {
      background-color: #64c29e65;
    }
  }
}
.mailing {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  @media screen and (max-height: 700px) {
    height: 85vh;
  }
}
.mailing__title {
  font-size: 24px;
  color: $mailing-title;
  font-style: italic;
}
.mailing__input-container {
  @media screen and (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  input {
    width: 400px;
    height: 70px;
    padding-left: 30px;
    border: 1px solid $light-gray;
    font-size: 24px;
    color: #929292;
    font-style: italic;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
}
button {
  font-size: 24px;
  color: #ffffff;
  width: 170px;
  height: 70px;
  margin-left: 5px;
  background-color: $btn-col;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    background-color: $btn-col-hover;
    transition: all 0.3s ease;
  }
  @media screen and (max-width: 650px) {
    margin-left: 0;
    width: 100%;
  }
}
.footer {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $light-gray;
  @media screen and (max-width: 900px) {
    height: 20vh;
  }
  @media screen and (max-width: 650px) {
    flex-direction: column;
    height: 35vh;
    .footer__item_1 {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
.footer__item_2,
.footer__item_3 {
  display: flex;
  align-items: center;
}
.footer__item_2 {
  gap: 20px;
}
.footer__item_3 {
  gap: 10px;
  p {
    text-align: center;
  }
}
